<div class="jumbotron jumbotron-fluid alert alert-light">
    <div class="container">
      <h1 class="display-4 alert alert-primary">Some More Useful Information</h1>
        <ul class = "list-unstyled list-group-flush">
          <li class="alert alert-info">To begin you simply need to navigate using the menu above!</li>
          <li class="alert alert-info">Most details MUST be entered, this is to ensure data is complete!</li>
          <li class="alert alert-info">For more tools, you'll only need to pay $100 000!</li>
          <li class="alert alert-info">Make sure to check all your details before completing actions as deleting vehicles is irreversible!</li>
          <li class="alert alert-info">More help? Call: <a href ="tel: +61421578027">Ethan: 0421-57-8027</a></li>
        </ul>
    </div>
    <br>
  </div>
